/* Asterisk Wildcard selector - overides default styles*/

* {padding:0; margin:0; box-sizing:border-box;}

/* Background Colours */

header {background-color:lightcoral}

main {background-color: lightblue;}

footer {background-color: orange;}