/* Asterisk Wildcard selector - overides default styles*/

* {padding:0; margin:0; box-sizing:border-box;}

/* General Styles */

body {min-height:100vh; display: flex; flex-direction: column;
/* generic project styles */
color:#3a3a3a;
}

/* Main content styling */

header {background-color:lightcoral}

main {background-color: lightblue;
 /* make main element push footer to bottom    */
flex: 1 0 auto;}

footer {background-color: orange;}